<!DOCTYPE html>
<html>
  <head>
    <title>DeviseRolesLab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
